# Generally unwanted things
**/__pycache__/*
**/*.log

# Test Collateral
tests/**/*.stim
tests/**/*.txt
tests/**/*.asv
tests/COVERAGE/*
tests/MYPY/*
tests/.noseids
.coverage

# Documentation Collateral
docs/build/*
docs/source/fixedpoint
docs/source/LICENSE.rst

# Virtual Environment Collateral
pyvenv.cfg
Lib/*
Scripts/*

# Build collateral
build/*
dist/*
fixedpoint.egg-info/*
